* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  max-width: 100vw;
  height: auto;
  position: relative;
  background-color: #eff5f9;
  overflow-y: hidden;
}

.hero-section {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #eff5f9;
}

.img-principal {
  position: absolute;
  right: 0;
}

.hero-container {
  position: absolute;
  top: 92px;
  left: 48px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: flex-start;
}

.logo-section {
  width: 154px;
  height: 24px;
  top: 92px;
  left: 48px;
  z-index: 1;
}

.hero-section h1 {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 500;
  font-size: 80px;
  line-height: 97%;
  letter-spacing: 0;
  color: #276691;
  top: 148px;
  left: 48px;
  z-index: 1;
}

.hero-section h2 {
  font-family: "Nunito Sans", sans-serif;
  top: 400px;
  left: 45px;
  font-weight: 700;
  font-size: 100px;
  line-height: 102%;
  letter-spacing: 0;
  z-index: 1;
}

.hero-section p {
  font-family: "Nunito Sans", sans-serif;
  top: 626px;
  left: 59px;
  font-weight: 300;
  font-size: 32px;
  line-height: 126%;
  letter-spacing: 0;
  z-index: 1;
}

.hero-section .btn-agenda {
  width: 443px;
  height: 65px;
  top: 709px;
  left: 48px;
  border-radius: 56px;
  padding: 16px 32px;
  background-color: #276691;
  border: none;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 900;
  font-size: 24px;
  color: #eff5f9;
  line-height: 1;
  letter-spacing: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 1;
}

.balao-container {
  position: absolute;
  right: 20px;
  top: 340px;
  width: 400px;
  height: 400px;
  align-items: center;
  z-index: 1;
}

.hero-section .div-balao {
  width: 200px;
  height: 92px;
  background-color: #eff5f9;
  border-radius: 24px;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 126%;
  letter-spacing: 0;
  color: #474747;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 1;
  position: absolute;
}

.balao-container .div-balao.primeiro {
  top: 0;
  right: 0;
}

.balao-container .div-balao.segundo {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.balao-container .div-balao.terceiro {
  bottom: 0;
  left: 0;
}

.missao-section {
  margin: 0;
  padding: 50px 48px;
  background-color: #091720;
  width: 100%;
  height: auto;
  display: flex;
  color: #eff5f9;
  justify-content: space-between;
  border-top-right-radius: 80px;
  border-top-left-radius: 80px;
  position: absolute;
  top: 860px;
}

.div-quem {
  width: 501px;
  height: 400px;
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo-quem {
  max-width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-quem .logo-underline {
  width: 100%;
  height: 3px;
  background-color: #81cdff;
}

.div-quem .logo-quem a {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 800;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0;
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  color: #81cdff;
  text-decoration: none;
  padding: 10px 16px;
  gap: 10px;
}

.div-quem h2 {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 700;
  font-size: 64px;
  line-height: 140%;
  padding: 16px 0;
  color: #fafafa;
}

.div-quem p {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 100%;
  padding: 16px 0;
  bottom: 0;
  height: 54px;
  color: #fafafa;
}

.div-missao {
  position: relative;
  width: 400px;
  height: 400px;
  margin-top: 70px;
  padding-top: 50px;
}

.div-missao p {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 136%;
  margin-bottom: 14px;
  color: #ffffff;
  text-align: justify;
}

.div-missao .btn-agenda {
  height: 54px;
  width: 100%;
  background: #eff5f9;
  border-radius: 56px;
  padding: 16px 32px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #276691;
  font-weight: 900;
  margin-top: 80px;
  bottom: 0;
  cursor: pointer;
  position: absolute;
}

.nossos-servicos {
  width: 100%;
  height: auto;
  background-color: #091720;
  margin-top: 480px;
}

.nossos-servicos h2 {
  font-family: "Nunito Sans", sans-serif;
  color: #eff5f9;
  padding: 71px 44px;
  font-weight: 700;
  font-size: 64px;
  line-height: 102%;
  letter-spacing: 0;
}

.servicos-container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  width: 100%;
  height: auto;
  padding: 0px 62px 120px 62px;
  gap: 24px;
  justify-content: space-between; /* separa os itens horizontalmente */
  align-items: start; /* alinha os itens ao topo */
}

.servicos-container .div-servico {
  max-width: 368px;
  height: auto;
  border-radius: 24px;
  padding: 16px 19px 24px 19px;
  background-color: #276691;
}

.servicos-container .div-servico p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0;
  font-weight: 400;
  color: #ffffff;
}

.servicos-container .div-servico p.bold {
  font-weight: 700;
  margin-bottom: 20px;
}

.depoimentos {
  width: 100%;
  height: auto;
  background-color: #eff5f9;
  margin-bottom: 100px;
}

.trabalhos {
  width: 520px;
  height: 332px;
  margin: 89px 53px;
}

.trabalhos a {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 800;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0;
  color: #091720;
  text-decoration: none;
  border-bottom: 2px solid #091720;
  padding: 10px 16px;
}

.trabalhos h2 {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 700;
  font-size: 64px;
  line-height: 100%;
  letter-spacing: -2%;
  color: #191919;
  margin: 40px 0;
}

.trabalhos p {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 500;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: -2%;
  color: #191919;
  margin-bottom: 20px;
}

.perguntas-section {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pergunta-container {
  width: 914px;
  height: 652px;
}

.pergunta-container .content-pergunta {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
}

.pergunta-container .content-pergunta img {
  border-radius: 50%;
  margin-right: 30px;
}

.pergunta-container .content-pergunta a {
  width: 810px;
  height: 80px;
  border-radius: 100px;
  background-color: #ffffff;
  padding: 24px;
  color: #000000;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pergunta-container .content-pergunta a i {
  font-size: 32px;
  cursor: pointer;
}

.pergunta-container .content-pergunta a i.hidden {
  display: none;
}

.resposta {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.resposta a {
  width: 810px;
  height: 80px;
  border-radius: 100px;
  background-color: #ffffff;
  padding: 24px;
  color: #000000;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.resposta .img-resposta {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #427a9f;
  display: flex;
  align-items: center;
  justify-content: center;
}

.resposta.hidden {
  display: none;
}

.container-section {
  margin-bottom: 80px;
}

.saiba-mais {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 48px;
}

.saiba-mais h2 {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: -2%;
  margin-bottom: 30px;
}

.saiba-mais p {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 500;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: -2%;
}

.saiba-mais .btn-agenda {
  width: 480px;
  height: 54px;
  top: 709px;
  left: 48px;
  border-radius: 56px;
  padding: 16px 32px;
  background-color: #276691;
  border: none;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 900;
  font-size: 16px;
  color: #eff5f9;
  line-height: 1;
  letter-spacing: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.footer-container {
  background-color: #000000;
  width: 100%;
  height: auto;
}

.content-container {
  width: 80%;
  height: auto;
  display: flex;
  justify-content: space-between;
  margin-left: 54px;
}

.para-voces {
  display: flex;
  flex-direction: column;
  margin-top: 97px;
}

.para-voces p,
.transparencia p {
  font-family: "Castoro Titling", serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 110%;
  letter-spacing: 0;
  color: #ffffffb2;
  opacity: 0.7;
  margin-bottom: 37px;
}

.para-voces a,
.transparencia a {
  font-family: "Castoro Titling", serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 110%;
  color: #ffffff;
  margin-bottom: 37px;
  cursor: pointer;
}

.transparencia .transparencia-text {
  font-weight: bold;
  line-height: 110%;
  font-size: 32px;
  color: #ffffff;
  cursor: pointer;
}

.transparencia {
  display: flex;
  flex-direction: column;
  margin-top: 97px;
}

.redes-icons {
  width: 256px;
  height: 64px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 37px;
}

.redes-icons a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 1px solid #ffffffb2;
}

.img-whats {
  position: absolute;
}

.transparencia .btn-agenda {
  width: 480px;
  height: 54px;
  border-radius: 56px;
  border: none;
  background: #276691;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Nunito Sans;
  font-weight: 900;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffff;
  cursor: pointer;
}

.footer-container .container-logo-footer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.footer-container .container-logo-footer img {
  width: 1117px;
  font-family: Istok Web;
  font-weight: 700;
  font-size: 247.52px;
  leading-trim: Cap height;
  line-height: 100%;
  letter-spacing: 17%;
  color: #ffffff;
  cursor: pointer;
}

/*-----------------------------------------------------------------------*/

/*MEDIA QUERIES*/

@media (max-width: 1100px) {
  .hero-container p {
    font-size: 25px;
  }

  .footer-container .container-logo-footer img {
    width: 900px;
  }
}

@media (max-width: 990px) {
  .missao-section .div-quem h2 {
    font-size: 50px;
  }

  .missao-section .div-quem p {
    font-size: 16px;
  }

  .footer-container .content-container {
    width: 85%;
  }

  .footer-container .content-container .btn-agenda {
    width: 300px;
  }

  .saiba-mais p {
    font-size: 16px;
  }
}

@media (max-width: 900px) {
  .hero-container h1 {
    font-size: 60px;
  }

  .hero-container h2 {
    font-size: 70px;
  }

  .hero-container p {
    font-size: 16px;
  }

  .hero-container .btn-agenda {
    width: 300px;
    height: 50;
    font-size: 14px;
  }

  .balao-container .div-balao {
    font-size: 16px;
    width: 150px;
    height: 50px;
  }

  .div-missao p {
    font-size: 20px;
  }

  .missao-section .div-missao .btn-agenda {
    width: 350px;
    height: 65px;
    font-size: 14px;
  }

  .perguntas-section .pergunta-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .perguntas-section .container-section {
    width: 80%;
    text-align: center;
  }

  .saiba-mais h2 {
    font-size: 30px;
  }

  .footer-container .container-logo-footer img {
    width: 800px;
  }

  .saiba-mais .btn-agenda {
    width: 300px;
    height: 65px;
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .missao-section .div-quem h2 {
    font-size: 35px;
  }

  .footer-container .container-logo-footer img {
    width: 700px;
  }

  .hero-container h1 {
    font-size: 40px;
  }

  .hero-container h2 {
    font-size: 50px;
  }

  .balao-container {
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 200px;
    height: 100vh;
    padding: 100px 0;
  }

  .balao-container .div-balao {
    position: static;
  }

  .balao-container .div-balao.segundo {
    top: 50%;
    left: 50%;
    transform: translate(0);
  }

  .hero-container {
    position: static;
    height: 100vh;
    justify-content: space-evenly;
    margin-left: 48px;
    padding: 100px 0;
  }

  .missao-section {
    flex-direction: column;
    align-items: center;
  }

  .missao-section .div-quem {
    display: flex;
    align-items: center;
    gap: 10px;
    text-align: center;
    justify-content: space-evenly;
  }

  .missao-section .div-missao {
    margin-top: 0;
    padding: 0;
    text-align: center;
  }

  .div-missao .btn-agenda {
    margin-top: 50px;
    position: static;
  }

  .nossos-servicos {
    margin-top: 850px;
    text-align: center;
  }

  .nossos-servicos .servicos-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .pergunta-container {
    width: 100%;
    height: auto;
  }

  .footer-container .container-logo-footer img {
    width: 500px;
  }

  .depoimentos .trabalhos {
    width: 100%;
    text-align: center;
    margin: 0;
    margin-top: 50px;
  }

  .saiba-mais {
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }

  .para-voces p,
  .transparencia p {
    font-size: 16px;
  }

  .para-voces a,
  .transparencia a {
    font-size: 22px;
  }

  .transparencia .transparencia-text {
    font-size: 24px;
  }

  .redes-icons {
    width: 256px;
    height: 64px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 37px;
  }

  .redes-icons a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #ffffffb2;
  }
}

@media (max-width: 480px) {
  .hero-section {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .hero-section .hero-container {
    flex-direction: column;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: flex-start;
    gap: 50px;
    margin-top: 50px;
  }

  .hero-section .balao-container {
    flex-direction: row;
    margin: 0;
    padding: 0;
    height: 200px;
    width: 100%;
    position: absolute;
    top: 600px;
  }

  .nossos-servicos {
    margin-top: 450px;
  }

  .nossos-servicos h2 {
    font-family: "Nunito Sans", sans-serif;
    color: #eff5f9;
    padding: 30px 0;
    font-weight: 700;
    font-size: 50px;
    line-height: 102%;
    letter-spacing: 0;
  }

  .depoimentos .perguntas-section {
    margin-top: 70px;
  }

  .footer-container .content-container {
    width: 100%;
    margin: 0;
    padding: 0;
    flex-direction: column;
    text-align: center;
  }

  .footer-container .content-container .transparencia {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .footer-container .container-logo-footer img {
    width: 300px;
  }

  .img-principal {
    position: absolute;
    right: 0;
    top: 0;
  }

  .missao-section .div-quem p {
    font-size: 14px;
  }
}
